@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

.container {
  max-width: 600px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
