.aboutProducts {
  padding: 20px 12px 30px 12px;
  width: 495px;
}

.aboutProducts__header {
  background-color: #000;
  color: #fff;
  height: 48px;
  margin: 0px auto 50px auto;
  width: 519px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutProducts__header h2 {
  font-size: 22px;
  text-transform: uppercase;
}

.aboutProducts__item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 40px 0;
}

.aboutProducts__item___description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
