.b-introduction {
  padding: 20px 12px 30px 12px;
  width: 495px;
}

.b-introduction__name {
  color: #fd703a;
  font-size: 24px;
  margin-bottom: 7px;
}

.b-introduction__paragraph {
  color: #000;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 12px;
}
