/* INICIO GLOBAL */
.container {
  background: #e2e2e2;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: #f16630;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px #ddd;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  height: 62px;
  width: 327px;
  margin: auto;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* INICIO MEDIA QUERY GLOBAL */

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: none;
  }

  .button {
    cursor: none;
    font-size: 24px;
    height: 68px;
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
  }
}

/* FIM MEDIA QUERY GLOBAL */

/* FIM GLOBAL */

/* INICIO HEADER */
.header {
  height: 285px;
  width: 100%;
  overflow: hidden;
}

.header img {
  height: 100%;
  width: 100%;
}

/* INICIO MEDIA QUERY HEADER */

@media screen and (max-width: 480px) {
  .header {
    height: auto;
  }
}

/* FIM MEDIA QUERY HEADER */

/* FIM HEADER */

/* INICIO MAIN */
.main {
  padding: 0px 10px;
}

/* INICIO MEDIA QUERY MAIN */

@media screen and (max-width: 480px) {
  .main {
    padding: 0px;
  }
}

/* FIM MEDIA QUERY MAIN */

/* FIM MAIN */

/* INICIO CONTENT */

.content {
  background-color: #fff;
  padding: 10px;
}

/* INICIO MEDIA QUERY CONTENT */

@media screen and (max-width: 480px) {
  .content {
    padding: 28px;
  }
}

/* FIM MEDIA QUERY CONTENT */
/* FIM CONTENT */

/* INICIO INTRODUCTION */
.introduction {
  width: 519px;
  margin: auto;
  padding: 20px 0px 30px 0px;
}

.introduction h2 {
  color: #fd703a;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 1rem;
}

.introduction p {
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 1rem;
}

/* INICIO MEDIA QUERY INTRODUCTION */
@media screen and (max-width: 480px) {
  .introduction {
    width: 100%;
    padding: 0;
  }

  .introduction h2 {
    font-size: 28px;
  }

  .introduction p {
    font-size: 20px;
  }
}
/* FIM MEDIA QUERY INTRODUCTION */

/* FIM INTRODUCTION */

/* INICIO PRODUCTS */
.products {
  margin-bottom: 40px;
}

.products header {
  background: #000;
  color: #fff;
  height: 48px;
  width: 519px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.products h3 {
  font-size: 22px;
  text-transform: uppercase;
}

.products__item {
  border-bottom: 1px dashed #808285;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
  padding: 40px 0px;
  width: 490px;
  overflow: hidden;
}

.products__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.products__description h3 {
  font-size: 22px;
  font-weight: 800;
}

.products__description p {
  font-size: 18px;
  font-weight: 400;
}

.products__description a {
  color: #fd703a;
  text-decoration: underline;
  font-weight: 400;
}

/* INICIO MEDIA QUERY PRODUCTS */
@media screen and (max-width: 480px) {
  .products header {
    height: 58px;
    width: 100%;
  }

  .products h3 {
    font-size: 20px;
  }

  .products__item {
    border: none;
    grid-template-columns: 1fr;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }

  .products__description h3 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .products__description p {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .products__description a {
    font-size: 18px;
  }
}
/* FIM MEDIA QUERY PRODUCTS */

/* FIM PRODUCTS */

/* INICIO PROMOTIONAL */
.promotional {
  margin-bottom: 20px;
}

.promotional header {
  background: #000;
  color: #fff;
  font-weight: 400;
  height: 43px;
  width: 487px;
  margin: auto;
  margin-bottom: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.promotional__content {
  text-align: center;
}

.promotional__content h3 {
  font-size: 30px;
  font-weight: 700;
}

.promotional__content p {
  font-size: 18px;
  margin-bottom: 1.2rem;
}

.promotional__alert {
  color: #5e5e5e;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

/* INICIO MEDIA QUERY PROMOTIONAL */
@media screen and (max-width: 480px) {
  .promotional header {
    height: 53px;
    width: 100%;
    margin-bottom: 24px;
  }

  .promotional__content h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .promotional__content p {
    font-size: 20px;
  }

  .promotional__alert {
    font-size: 18px;
  }
}
/* FIM MEDIA QUERY PROMOTIONAL */

/* FIM PROMOTIONAL */

/* INICIO SALES */

.sales {
  padding: 20px 0;
}

.sales header {
  text-align: center;
}

.sales .sales__header h3 {
  color: #eb5628;
  font-size: 22px;
  font-weight: 900;
}

.sales__list {
  display: flex;
  align-items: flex-end;
  gap: 28px;
  width: 515px;
  margin: auto;
}

.sales__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.sales__item img {
  margin-bottom: 20px;
}

.sales__item p {
  font-weight: 900;
}

.sales__item span {
  margin-bottom: 1rem;
}

.sales__item a {
  color: #eb5628;
  font-size: 18px;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 3rem;
}

/* INICIO MEDIA QUERY SALES */
@media screen and (max-width: 480px) {
  .sales .sales__header h3 {
    font-size: 24px;
    margin-bottom: 2rem;
  }
  .sales__list {
    align-items: center;
    gap: 10px;
    width: 100%;

    flex-direction: column;
    justify-content: center;
  }

  .sales__item p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .sales__item a {
    font-size: 20px;
  }
}
/* FIM MEDIA QUERY SALES */

/* FIM SALES */

/* INICIO RULES */
.rules {
  padding: 20px;
}

.rules p {
  font-size: 12px;
  margin-bottom: 1rem;
  line-height: 15.6px;
}

/* INICIO MEDIA QUERY RULES */
@media screen and (max-width: 480px) {
  .rules p {
    font-size: 16px;
    line-height: 18px;
  }
}
/* FIM MEDIA QUERY RULES */

/* FIM RULES */

/* INICIO CONTACT */
.contact {
  padding: 20px;
}

.contact header {
  text-align: center;
  background-color: #f16630;
  color: #fff;
  height: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.contact__chat {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact__chat__info {
  padding: 2px;
}

.contact__chat__info p {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px;
}

.contact__chat__info a {
  color: #f16630;
  font-size: 14px;
  font-weight: 700;
}

.contact__tel___item {
  margin-bottom: 20px;
}

/* INICIO MEDIA QUERY CONTACT */
@media screen and (max-width: 480px) {
  .contact {
    text-align: center;
  }
  .contact header {
    height: 48px;
  }
  .contact__options {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }

  .contact__chat {
    margin-bottom: 20px;
  }
}
/* FIM MEDIA QUERY CONTACT */

/* FIM CONTACT */

/* INICIO FOOTER */

footer {
  background-color: #1d1d1b;
  height: 222px;
  width: 100%;
  margin: auto;
  padding: 0px 30px;
}

.social {
  padding: 30px 0;
}

.social nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* INICIO MEDIA QUERY FOOTER */
@media screen and (max-width: 480px) {
  footer {
    text-align: center;
  }
}
/* FIM MEDIA QUERY FOOTER */

/* FIM FOOTER */
